/* ul {
    padding-left: 1.5rem;
  } */

h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
h5 {
    text-align:center;
}

h4 {
    text-align:center;
}

/* img {
    margin-left: 9rem;
    display: block;
    margin: 0 auto;
    width: 40%;
} */
body {
    background-color: #0f1117;
}

/* .fullScreenFrame > div {
    display: flex;
    justify-content: center;
} */

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
